{% extends 'layout.html' %} 
{% block title %} Register Staff | CAS {% endblock title %} {% block content %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>
{% endif %} {# Show staff registration form only if user is Admin #} 
{% if request.user.is_superuser %}
<form method="POST" action="" class="flex flex-col border w-auto mx-auto my-5 p-10 lg:w-1/2">
  {% csrf_token %} {{form.as_table}}

  <button class="mt-3 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Create Staff</button>
</form>
{{form.errors}} 
{% else %}
<a>You are not an Administrator!</a>
{% endif %} {% endblock %}
